<nav class="navbar navbar-expand navbar-light bg-dark">
    
    <div class="nav navbar-nav">
        
        <a class="nav-item nav-link active text-white" href="#">Sistema<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link text-white" routerLink="listar-empleado">Listar empleado</a>
        <a class="nav-item nav-link text-white" routerLink="agregar-empleado">Agregar empleado</a>
        
    </div>
</nav>

<div class="container mt-3">
   
    <router-outlet></router-outlet>    
</div>
